@import url('https://fonts.googleapis.com/css?family=Lato|ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

$neon-green: #64ffda;
$navy: #0a192f;
$lighter-text-color: #e6f1ff;
$text-color: #8892b0;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  background: $navy;
  color: $text-color;
  min-height: 100vh;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.main {
  display: none;
  transition: opacity 1s ease-in;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 40px;
  .brand {
    width: 60px;
    margin-top: -15px;
  }
}
.btn {
  text-decoration: none;
  color: $neon-green;
  padding: 10px 20px;
  border: 1px solid $neon-green;
  border-radius: 5px;
}
.navlinks {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;
  li {
    padding: 0 15px;
    letter-spacing: 1px;
  }
  li:hover {
    color: $neon-green;
    text-decoration: underline;
    cursor: pointer;
  }
}

.color-neon {
  color: $neon-green;
}
.light {
  color: $lighter-text-color;
}
.grid {
  display: grid;
  grid-template-columns: .1fr 3fr .1fr;
  height: 100vh;
}
#brief-description {
  padding: 20px 50px;
  width: 80%;
  
  line-height: 1.6;
  h1 {
    font-size: 16px;
    font-family: 'Fira Code';
  }
  h2, h3 {
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
  }
  p {
    margin-bottom: 30px;
    width: 50%;
    padding: 25px 0;
  }

  .info {
    margin: 20px 0;
  }

}
#email {
  writing-mode: vertical-rl;
  text-decoration: none;
  color: $text-color;
  position: fixed;
  bottom: 80px;  
}
#email::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  font-size: 20px;
  letter-spacing: 2px;
  color: $lighter-text-color;
}
.fab {
  font-size: 20px;
  padding: 10px 5px;
}
.fab:hover {
  color: $lighter-text-color;
  transition: ease-in-out 1s;
}
// .icons {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
//   margin-top: -600px;
//   padding: 0 10px;
// }
/* LOADER 1 */
.loader {
  height: 50px;
  transform-origin: bottom center;
  animation: rotate 3s linear infinite;
}

.circle {
  display: inline-block;
  background-color: $neon-green;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: scale(0);
  animation: grow 1.5s linear infinite;
  margin: -10px;
}

.circle:nth-child(2) {
  background-color: palevioletred;
  animation-delay: 0.75s;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  50% {
    transform: scale(1);
  }
}

//  ABOUT SECTION
#about {
  height: 100vh;
  width: 90%;
  margin: 0 auto; 
  padding: 30px;
  .about {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    text-decoration: underline;
  }

  .about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .profile {
      font-size: 18px;
      line-height: 1.8;
    }
    .profile-pic {
      img {
        
      }
    }
  }
 
}
