@import url('https://fonts.googleapis.com/css?family=Lato|ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

$neon-green: #64ffda;
$navy: #0a192f;
$lighter-text-color: #e6f1ff;
$text-color: #8892b0;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  background: $navy;
  color: $text-color;
  min-height: 100vh;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.main {
  display: none;
  transition: opacity 1s ease-in;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 40px;
  .brand {
    width: 60px;
    margin-top: -15px;
  }
}
.btn {
  text-decoration: none;
  color: $neon-green;
  padding: 10px 20px;
  border: 1px solid $neon-green;
  border-radius: 5px;
}
.btn:hover {
  background-color: $neon-green;
  color: $lighter-text-color;
  outline: $neon-green;
  opacity: .1;
}
.navlinks {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;
  li {
    padding: 0 15px;
    letter-spacing: 1px;
  }
  li:hover {
    color: $neon-green;
    text-decoration: underline;
    cursor: pointer;
  }
}

.color-neon {
  color: $neon-green;
}
.light {
  color: $lighter-text-color;
}
.grid {
  display: grid;
  grid-template-columns: 3fr .1fr;
  height: 100vh;
}
#brief-description {
  padding: 20px 50px;
  width: 80%;
  
  line-height: 1.6;
  h1 {
    font-size: 16px;
    font-family: 'Fira Code';
  }
  h2, h3 {
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
  }
  p {
    margin-bottom: 30px;
    width: 50%;
    padding: 25px 0;
  }

  .info {
    margin: 20px 0;
  }

}
#email {
  writing-mode: vertical-rl;
  text-decoration: none;
  color: $text-color;
  position: fixed;
  bottom: 80px;  
}
#email::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  font-size: 20px;
  letter-spacing: 2px;
  color: $lighter-text-color;
}
.fab {
  font-size: 20px;
  padding: 10px 5px;
}
.fab:hover {
  color: $lighter-text-color;
  transition: ease-in-out 1s;
}
.icons {
  // width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 10px;
  margin-top: 20px;
  
  .fab {
    font-size: 26px;
  }
}
/* LOADER 1 */
.loader {
  height: 50px;
  transform-origin: bottom center;
  animation: rotate 3s linear infinite;
}

.circle {
  display: inline-block;
  background-color: $neon-green;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: scale(0);
  animation: grow 1.5s linear infinite;
  margin: -10px;
}

.circle:nth-child(2) {
  background-color: palevioletred;
  animation-delay: 0.75s;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  50% {
    transform: scale(1);
  }
}

//  ABOUT SECTION
.about-section {
  height: 100vh;
  width: 80%;
  margin: 0 auto; 
  padding: 30px;
  .about {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
    .color-neon {
      padding-right: 10px;
    }
  }

  .about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .profile {
      font-size: 18px;
      line-height: 1.8;
    }
    .profile-pic {
      img {
        
      }
    }
  }
 
}
.underline {
  text-decoration: underline;
}

#experience {
  text-align: right;
}

p.footer {
    margin-bottom: 20px;
    color: #999999;
    font-size: 18px;
    text-align: center;
}

/* -----------------------------------------------
 * Timeline
 * --------------------------------------------- */
 .timeline {
    list-style: none;
    padding: 10px 0;
    position: relative;
    font-weight: 300;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 2px;
    background: $neon-green;
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    border: 1px solid $neon-green;
    background: $navy;
    position: relative;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #dcdcdc;
    border-right: 0 solid #dcdcdc;
    border-bottom: 15px solid transparent;
    content:" ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid $neon-green;
    border-right: 0 solid $neon-green;
    border-bottom: 14px solid transparent;
    content:" ";
}
.timeline > li > .timeline-badge {
    color: $neon-green;
    width: 24px;
    height: 24px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -12px;
    z-index: 100;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge > a {
    color: $neon-green !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-heading {
  padding: 10px 15px;

}
.timeline-heading h4, .timeline-heading h3 {
  text-align: left;
    font-weight: 400;
    color: $neon-green;
}
.timeline-heading h3 {
  font-size: 16px;
}
.timeline-body > p, .timeline-body > ul {
    padding: 10px 15px;
    margin-bottom: 0;
}
.timeline-footer {
  padding: 5px 15px;
  background-color: inherit;
  color: #64ffda;
  border-top: 1px solid #64ffda;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(100, 255, 218);
  margin-top: 10px;
}
.timeline-footer p { margin-bottom: 0; }
.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}
.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}
.timeline > li:nth-child(2) {
    margin-top: 60px;
}
.timeline > li.timeline-inverted > .timeline-badge {
    left: -12px;
}
.no-float {
    float: none !important;
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width:100%;
        float: left;
        clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
    }
    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-badge {
        left: 28px;
    }
}
