@import url('https://fonts.googleapis.com/css?family=Lato|ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

$neon-green: #64ffda;
$navy: #0a192f;
$lighter-text-color: #e6f1ff;
$text-color: #8892b0;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  background: $navy;
  color: $text-color;
  min-height: 100vh;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.main {
  display: none;
  transition: opacity 1s ease-in;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px;
  .brand {
    font-size: 18px;
  }
}

.navlinks {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  font-size: 16px;
  li {
    padding: 0 15px;
  }
}

.color-neon {
  color: $neon-green;
}
.light {
  color: $lighter-text-color;
}
.grid {
  display: grid;
  grid-template-columns: .1fr 3fr .1fr;
}
#brief-description {
  // padding: 0 150px;
  width: 60%;
  line-height: 1.6;
  h1 {
    font-size: 16px;
    font-family: 'Fira Code';
  }
  h2, h3 {
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
  }

}
#email {
  writing-mode: vertical-rl;
  text-decoration: none;
  color: $text-color;
  position: fixed;
  bottom: 80px;  
}
#email::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  color: $lighter-text-color;
}
.fab {
  font-size: 32px;
  padding: 10px 5px;
}
.icons {
  margin-bottom: -160px;
}
/* LOADER 1 */
.loader {
  height: 50px;
  transform-origin: bottom center;
  animation: rotate 3s linear infinite;
}

.circle {
  display: inline-block;
  background-color: $neon-green;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: scale(0);
  animation: grow 1.5s linear infinite;
  margin: -10px;
}

.circle:nth-child(2) {
  background-color: palevioletred;
  animation-delay: 0.75s;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  50% {
    transform: scale(1);
  }
}
