@import url("https://fonts.googleapis.com/css?family=Lato|ZCOOL+KuaiLe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  background: #0a192f;
  color: #8892b0;
  min-height: 100vh;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.main {
  display: none;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.navbar .brand {
  font-size: 18px;
}

.navlinks {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  font-size: 16px;
}

.navlinks li {
  padding: 0 15px;
}

.color-neon {
  color: #64ffda;
}

.light {
  color: #e6f1ff;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .1fr 3fr .1fr;
      grid-template-columns: .1fr 3fr .1fr;
}

#brief-description {
  width: 60%;
  line-height: 1.6;
}

#brief-description h1 {
  font-size: 16px;
  font-family: 'Fira Code';
}

#brief-description h2, #brief-description h3 {
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
}

#email {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-decoration: none;
  color: #8892b0;
  position: fixed;
  bottom: 80px;
}

#email::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  color: #e6f1ff;
}

.fab {
  font-size: 32px;
  padding: 10px 5px;
}

.icons {
  margin-bottom: -160px;
}

/* LOADER 1 */
.loader {
  height: 50px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
}

.circle {
  display: inline-block;
  background-color: #64ffda;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: grow 1.5s linear infinite;
          animation: grow 1.5s linear infinite;
  margin: -10px;
}

.circle:nth-child(2) {
  background-color: palevioletred;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes grow {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */